body{
  box-sizing: border-box;
  background-color: #262626;
  overflow: hidden;
  font-family: 'poppins';
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  width: 98vw;
  height: 100vh;
}

.container{
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  width: 50rem;
  height: 30rem;
  margin: 8rem;
  padding-top:10rem;
  border-radius: 100px 0px 100px / 100px 100px 100px; 
  border: 3px solid #000000;
  background: #491CCA;
  background: linear-gradient(to bottom, #491CCA 0%, #202ddc 50%, #1d1d1d 100%);
}

.ipt{
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  border-radius: 10px; 
  border: 2px solid #000000;
  font-weight: bold;
  color: #000000 !important;
  font-size: 16px;
  box-shadow: 3px 3px 6px #000000;
  background: #EEEEEE;
  transition: 0.5s ease-in-out ;
}
.ipt:hover {
  color: #000000 !important;
  background: #737272;
}
.selects{ 
  margin-top: 20px;
  min-width:500px ;
}
.selects select{
  outline: none;
  width: 250px;
  height: 30px;
  border-radius: 10px; 
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition:  0.5s ease-in-out;
}
.selects select:hover {
	background: #a9a9a9;
	border: 2px solid #000000;
	border-radius: 11px;
  transition: 0.5s ease-in-out ;
}

.btn{
  margin-top: 20px;
  cursor: pointer;  
  border-radius: 10px;
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  transition:  0.5s ease-in-out;
}

.btn:hover{
  background-color: #a9a9a9;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  transition: 0.5s ease-in-out ;
}
p{
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  transition: 0.5s ease-in-out ;
  border-radius: 10px ;
  border : 2px solid black;
  padding: 5px;
  background-color: #FFFFFF;
}

span{
  font-size: 20px;
  font-weight: bold;

}
.resposta{
  color: #FFFFFF;
}

h1{
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  transition: 0.5s ease-in-out ;

}